# Editors
.idea
.vscode

# Node modules
node_modules

# Mac
.DS_Store

# Local work
c-video-player

# Build
build

# Files (e.g. video)
back-end/src/files/*
front-end/static/*

# Text version of course work
textversion
